.sawmill-body {
    margin-bottom: 1.2em;
}
.sawmill-body:after {
    content: "";
    display: table;
    clear: both;
}
.sawmill-hero {
    width: 100%;
    padding: 40px;
    margin-bottom: 2.4em;
    background-size: cover;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.sawmill-hero--text-light {
    background-color: #20c997;
}
.sawmill-hero--text-dark {
    background-color: #a3e7d3;
}
.sawmill-hero--text-light,
.sawmill-hero--text-light h1 {
    color: #eee;
}
.sawmill-hero--text-dark,
.sawmill-hero--text-dark h1 {
    color: #333;
}
.sawmill-hero h1 {
    font-size: 52px;
}
.sawmill-hero .subhead {
    font-size: 24px;
}
.sawmill-categorylist {
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.sawmill-categorylist__pages {
    margin-left: -15px;
    margin-right: -15px;
    display: flex;
    flex-flow: row wrap;
    align-items: stretch;
}
.sawmill-categorylist__page {
    box-sizing: border-box;
    padding: 15px;
    width: calc(100% / 3);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.sawmill-categorylist__page__title {
    margin-top: 0;
    margin-bottom: 0;
}
.sawmill-categorylist__page__pubdate {
    font-style: italic;
    font-size: .8em;
}
.sawmill-categorylist__page__footer {
    padding: 15px 0;
}
.sawmill-body__image img {
    display: inline-block;
    max-width: 100%;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.sawmill-body__image--full-width {
    width: 100%;
    float: none;
    text-align: center;
}
.sawmill-body__image--align-right,
.sawmill-body__image--align-left {
    max-width: 50%;
}
.sawmill-body__image--align-right {
    float: right;
    margin-left: 1.2em;
}
.sawmill-body__image--align-left {
    float: left;
    margin-right: 1.2em;
}
.sawmill-cta {
    text-align: center;
    margin-top: 1.2em;
    margin-bottom: 1.2em;
}
.sawmill-cta a.sawmill-cta__button {
    display: inline-block;
    color: #fff;
    background-color: #20c997;
    border: 2px solid #20c997;
    font-size: 1.4em;
    padding: 10px 20px;
    transition: all .2s ease;
    box-shadow: 0 1px 5px rgba(0,0,0,0.3);
}
.sawmill-cta a.sawmill-cta__button:hover {
    background-color: #fff;
    color: #20c997;
}