{{ define "main" -}}
<div class="container" role="main">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <article role="main" class="blog-post">
         

{{ range .Params.blocks }}
    {{ if eq .template "body-copy" }}{{ partial "blocks/body.html" (dict "Block" .) }} {{end}}
    {{ if eq .template "call-to-action" }}{{ partial "blocks/call_to_action.html" (dict "Block" .) }} {{end}}
    {{ if eq .template "category-feed" }}
        {{ partial "blocks/category_feed.html" (dict "Block" . "Pages" (first (default 3 .numItems) (index $.Site.Taxonomies.categories (lower .category)).Pages))}}
    {{end}}
    {{ if eq .template "body-copy-w-image" }}{{ partial "blocks/content_with_image.html" (dict "Block" .) }} {{end}}
    {{ if eq .template "section-heading" }}{{ partial "blocks/heading.html" (dict "Block" .) }} {{end}}
    {{ if eq .template "hero" }}{{ partial "blocks/hero.html" (dict "Block" .) }} {{end}}
    {{ if eq .template "image_carousel" }}{{ partial "blocks/image_carousel.html" (dict "Block" .) }} {{end}}

{{ end }}
{{ if .Site.Params.socialShare }}
            <hr/>
            <section id="social-share">
              <ul class="list-inline footer-links">
                {{ partial "share-links" . }}
              </ul>
            </section>
        {{ end }}
      </article>

      {{ if ne .Type "page" }}
        <ul class="pager blog-pager">
          {{ if .PrevInSection }}
            <li class="previous">
              <a href="{{ .PrevInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .PrevInSection.Title }}">&larr; {{ i18n "previousPost" }}</a>
            </li>
          {{ end }}
          {{ if .NextInSection }}
            <li class="next">
              <a href="{{ .NextInSection.Permalink }}" data-toggle="tooltip" data-placement="top" title="{{ .NextInSection.Title }}">{{ i18n "nextPost" }} &rarr;</a>
            </li>
          {{ end }}
        </ul>
      {{ end }}


      {{ if (.Params.comments) | or (and (or (not (isset .Params "comments")) (eq .Params.comments nil)) (and .Site.Params.comments (ne .Type "page"))) }}
        {{ if .Site.DisqusShortname }}
          <div class="disqus-comments">
            {{ template "_internal/disqus.html" . }}
          </div>
        {{ end }}
        {{ if .Site.Params.staticman }}
          <div class="staticman-comments">
            {{ partial "staticman-comments.html" . }}
          </div>
        {{ end }}
      {{ end }}

    </div>
  </div>
</div>

{{- end }}